*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(244, 249, 253);
    font-family: "poppins", sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(241, 90, 90);
    margin-top: 40px;

}
.input-value{
    height: 30px;
    width: auto;
    border-radius: 40px;
    text-align: left;
    padding-left: 7px;

}
.button{
    height: 30px;
    color: rgb(247, 247, 231);
    background-color: rgb(82, 81, 81);
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 40px;
    cursor: pointer;
}
.result-display{
    
    text-align: center;
    margin-top: 10%;
    font-size: large;
    font-weight: bold;
}
#name{
    color: rgb(235, 84, 84);
}
.low{
    font-weight: bold;
}
.low h3{
    color: black
}
#temp{
    color: rgb(147, 57, 231);
}
#min-temp{
    color: rgb(147, 57, 231);
}
#max-temp{
    color: rgb(147, 57, 231);
}
#weather-type{
    color: rgb(235, 57, 146)
}